<div id="container">
    <h1> Sign In </h1>
    <form [formGroup]="authorizationForm">
        <div class="row my-3">
            <div class="col">
              <label for="user-email" class="form-label"> Email </label>
              <input type="email" 
                     class="form-control form-control-sm" 
                     id="user-email"
                     formControlName="user-email" 
                     placeholder="email@adress.com" 
                     maxlength="30">
              <span *ngIf="!authorizationForm.get('user-email')?.valid && authorizationForm.get('user-email')?.touched"
                     class="hint-span">
                Please, enter valid email!
              </span>
            </div>
        </div>

        <div class="row my-3">
            <div class="col">
                <label for="user-password" class="form-label"> Password </label>
                <input type="password" 
                       class="form-control form-control-sm" 
                       id="user-password"
                       formControlName="user-password" 
                       maxlength="20">
                    <span *ngIf="!(authorizationForm.get('user-password')?.valid) && (authorizationForm.get('user-password')?.touched)"
                        class="hint-span">
                        <span *ngIf="authorizationForm.get('user-password')?.errors?.['required']"
                               class="hint-span">
                            Password is required!
                        </span>
                        <span class="hint-span" *ngIf="(authorizationForm.get('user-password')?.errors?.['passwordNotStrength']) && !(authorizationForm.get('user-password')?.errors?.['required'])">
                            Your password must have lower case, upper case and numeric characters.
                        </span>    
                    </span> 
            </div>
        </div>

        <div id="buttons">
            <button mat-stroked-button 
                    (click)="authService.signIn(authorizationForm.get('user-email')?.value, authorizationForm.get('user-password')?.value)">
                Sign In 
            </button>

            <div class="formGroup">
                <button type="button" mat-stroked-button (click)="authService.googleAuth()" style="width: fit-content;">
                    Sign in with Google
                </button>
            </div>
        </div>

    </form>
</div>
