<header>
  <h1 routerLink="">Go Teams</h1>
  <button mat-stroked-button 
          (click)="authService.signOut()">
        Log out 
  </button>
</header>

<div>
  <router-outlet></router-outlet>
</div>

<footer>
  <ul>
    <li><a href="https://www.instagram.com/" target="_blank"><img src="../assets/images/instagram.svg" alt="Instagram icon"></a></li>
    <li><a href="https://twitter.com/?lang=en" target="_blank"><img src="../assets/images/twitter.svg" alt="Twitter icon"></a></li>
  </ul>
</footer>
