header {
    height: fit-content;
    border-bottom: 1px solid lightgray;
    padding: 0.5rem 2rem;
} 

h1 {
    font-weight: 500;
    color: rgb(54, 54, 54);
    margin: 0;
    cursor: pointer;
}

div {
    height: 82%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


footer {
    background-color: #3555bd;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 3rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}

ul li a {
    display: flex;
    position: relative;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 23px;
    margin-right: 3.125rem;
    font-size: 3.125rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
    z-index: 5;
    transition: 0.3s;

    &::after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 23px;
        border: 2px solid rgba(255, 255, 255, 0.2);
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: -1;
        transition: 0.3s;
    }

    &::before {
        content: " ";
        position: absolute;
        width: 6.25rem;
        height: 6.25rem;
        background: #dc2743;
        right: -5px;
        bottom: 0;
        border-radius: 23px;
        z-index: -1;
        transform-origin: 100% 100%;
          transform: rotate(10deg);
        transition: 0.3s;
    }

    &:hover {
        transform: rotate(-15deg);
    }

    &:hover::before {
        transform: rotate(15deg);
    }
}

// ul li a::after {
//     content: " ";
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100px;
//     height: 100px;
//     border-radius: 23px;
//     border: 2px solid rgba(255, 255, 255, 0.2);
//     background: rgba(255, 255, 255, 0.4);
//     backdrop-filter: blur(5px);
//     -webkit-backdrop-filter: blur(5px);
//     z-index: -1;
//     transition: 0.3s;
// }
// ul li a:hover {
//     transform: rotate(-15deg);
// }
// ul li a:hover::before {
//     transform: rotate(15deg);
// }

// ul li a::before {
//     content: " ";
//     position: absolute;
//     width: 100px;
//     height: 100px;
//     background: #dc2743;
//     right: -5px;
//     bottom: 0;
//     border-radius: 23px;
//     z-index: -1;
//     transform-origin: 100% 100%;
//       transform: rotate(10deg);
//     transition: 0.3s;
// }

ul li:nth-child(2) a::before {
    background: #1DA1F2;
}
