section {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(54, 54, 54);
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    color: #3555bd;
    padding: 0.5rem;
    width: 8rem;
    font-size: 1rem;
}